%nav.navbar..navbar-fixed-top.navbar-inverse.dark{role: 'navigation'}
  .container-fluid
    .navbar-header
      = link_to 'RTime', '#', class: 'navbar-brand'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li= link_to 'test link', '#'
        %li= link_to 'test link', '#'
        %li= link_to 'test link', '#'