- flash.each do |key, value|
  %div{:class => "alert alert-danger alert-dismissible", role: "alert"}
    %button.close{:"data-dismiss" => "alert"}
      %span{:"aria-hidden" => "true"} &times;
      %span.sr-only Close
    %ul
      %li
        = value